body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  background:
    linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
    url("./assets/bg.jpg") no-repeat center center/cover;
}
.container {
  padding: 30px;
  text-align: center;
}
.iconBar {
  position: absolute;
  top: 20px;
  right: 25px;
  display: flex;
  gap: 18px;
}
.iconButton {
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 22px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px); 
}
.iconButton:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.title {
  font-size: 56px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 18px; 
}
.subtitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 28px;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.searchInput {
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  height: 56px;
  width: 350px;
  border: none;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 0px 20px;
  color:white;
  border-radius: 28px;
  transition: 0.25s ease;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}
.searchInput::placeholder{
  font-size: 16px;
  font-family: "Poppins",sans-serif;
  color: rgba(255,255,255,0.45);
}
.searchButton {
  height: 56px;
  width: 120px;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
}
.searchButton:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.typedText {
  font-size: 16px;
  color: rgba(255,255,255,0.6); 
}
.resultsGrid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.movieCard {
  width: 180px;
  text-align: center;
  color: white;
}

.movieCard img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  transition: 0.3s ease;
}
.movieCard img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}