#root {
  margin: auto;
  text-align: center;
}
body{
  background-color: lightblue;
  font-family: system-ui;
  color: black;
  margin: auto;
  text-align: center;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: auto;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
}

.searchBox {
  margin-top: auto;
}

.searchInput {
  font-size: 1rem;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.searchButton {
  font-size: 1rem;
  padding: 20px ;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #333;
}

.typedText {
  margin-top: 20px;
  font-size: 18px;
}
