body{
  background: rgb(20, 20, 20);
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.container {
  padding: 30px;
  text-align: center;
}
.iconBar {
  position: absolute;
  top: 20px;
  right: 25px;
  display: flex;
  gap: 15px;
}
.iconButton {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 1rem;
}
.iconButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(255,255,255,0.25);
}

.title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.searchInput {
  font-family: "Poppins",sans-serif;
  font-size: 1rem;
  height: 64px;
  width: 350px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px 20px;
  color:white;
  border-radius: 12px;
  transition: 0.25s ease;
}
.searchInput::placeholder{
  font-size: 1rem;
  font-family: "Poppins",sans-serif;
  color: rgba(255,255,255,0.5);
}
.searchButton {
  height: 64px;
  width: 120px;
  font-family: "Poppins",sans-serif;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}
.searchButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(255,255,255,0.25);
}
.typedText {
  font-size: 1rem;
}