body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
    url("./assets/bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  overflow-y: scroll;
}
.container {
  padding: 32px;
  text-align: center;
}
.iconBar {
  position: fixed;
  top: 20px;
  right: 25px;
  display: flex;
  gap: 16px;
  z-index: 9999;
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.06);
  padding: 12px 12px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.12);
   transition: transform 0.25s ease, opacity 0.25s ease;
}
.iconBar:hover{
  opacity: 100%;
}
.scrolled{
  transform: scale(0.75);
  opacity: 50%;
  background-color: rgba(255,255,255,0.03);
  backdrop-filter: blur(6px);
}
.iconButton {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 24px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px); 
}
.iconButton:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.title {
  font-size: 56px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px; 
}
.subtitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 24px;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.searchInput {
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  height: 56px;
  width: 320px;
  border: none;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 0px 24px;
  color:white;
  border-radius: 28px;
  transition: 0.25s ease;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}
.searchInput::placeholder{
  font-size: 16px;
  font-family: "Poppins",sans-serif;
  color: rgba(255,255,255,0.45);
}
.searchButton {
  height: 56px;
  width: 130px;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
}
.searchButton:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.typedText {
  font-size: 16px;
  color: rgba(255,255,255,0.6); 
}
.resultsPage {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.resultsTitle{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 24px;
}
.resultsGrid {
  padding-top: 24px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.movieCard {
  width: 180px;
  text-align: center;
  color: white;
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}
.movieCard p {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(255,255,255,0.75);
}
.movieCard img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
  transition: 0.25s ease;
}
.movieCard img:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}
